.root-notifications {
  position: relative;
}

.bodySection {
  padding: 32px;
}

.bodySection h2 {
  margin-top: 0;
  color: #e0354b;
}

.courses {
  overflow-x: auto;
}

#CourseList {
  min-width: 600px;
}

.bg-table-header {
  background-color: var(--color-table-header);
}

.bg-table-rows {
  background-color: var(--color-table-rows);
}

