.App-body {
  padding: 24px;
  min-height: 180px;
}

.login-form {
  display: grid;
  grid-template-columns: auto 220px auto 220px auto;
  align-items: center;
  gap: 8px 12px;
  margin-top: 6px;
}

.login-form label {
  justify-self: end;
}

.login-form button {
  margin-left: 8px;
  padding: 2px 8px;
}
