.App-header {
  display: flex;
  align-items: center;
  gap: 16px;
  border-bottom: 3px solid #e0354b;
  padding: 24px 0 12px;
}

.App-header img {
  height: 180px;
}

.App-header h1 {
  color: #e0354b;
  font-weight: 700;
  font-size: 48px;
  margin: 0;
}
